<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Tunnel Relay" Language="1033" Version="2.4.1.0" Manufacturer="Microsoft" UpgradeCode="f777fda3-99c0-4223-9ef3-271b868864f3">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" Platform="x64"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="TunnelRelay" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="ARPPRODUCTICON" Value="TunnelRelayIcon.exe" />
    <Property Id="ApplicationFolderName" Value="TunnelRelay" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="TRBannerTop.bmp" />
    <UIRef Id="WixUI_Advanced" />

    <Property Id="ReadMeUrl"><![CDATA[https://github.com/OfficeDev/microsoft-teams-tunnelrelay/blob/master/README.md]]></Property>
    <InstallExecuteSequence>
      <!-- Launch webpage during install, but not upgrade -->
      <Custom Action="SetOpenURL" After="InstallFinalize">NOT Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="OpenURL" After="SetOpenURL">NOT Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Product>

  <!--Directory Declarations-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="TunnelRelayFolder" Name="Tunnel Relay" />
      </Directory>
    </Directory>
  </Fragment>

  <!--File declaration-->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="TunnelRelayFolder">
      <Component Id="TunnelRelayUI" Guid="4ECA0543-FA69-4317-ADCC-5E9BE7AB54C5" UninstallWhenSuperseded="yes" Win64="yes">
        <File Id="TunnelRelayUIExe" Source="..\TunnelRelay.Windows\bin\win-x64\$(var.Configuration)\netcoreapp3.1\win-x64\publish\TunnelRelay.Windows.exe" ProcessorArchitecture="x64" DiskId="1" KeyPath="yes">
          <Shortcut
            Id="TunnelRelayUIExeShortcut"
            Name="Tunnel Relay"
            Description="Tunnel Relay"
            Directory="DesktopFolder"
            Advertise="yes"
            WorkingDirectory="TunnelRelayFolder">
            <Icon Id="TunnelRelayIcon.exe" SourceFile="..\TunnelRelay.Windows\bin\win-x64\$(var.Configuration)\netcoreapp3.1\win-x64\publish\TunnelRelay.Windows.exe" />
          </Shortcut>
        </File>
        <CreateFolder>
          <Permission User="Everyone" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <CustomAction Id="SetOpenURL" Property="WixShellExecTarget" Value="[ReadMeUrl]" />
    <CustomAction Id="OpenURL" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />
  </Fragment>
</Wix>
