<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Tunnel Relay" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="f777fda3-99c0-4223-9ef3-271b868864f3">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="TunnelRelay" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="ARPPRODUCTICON" Value="TunnelRelayIcon.exe" />
    <Property Id="ApplicationFolderName" Value="TunnelRelay" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="TRBannerTop.bmp" />
    <UIRef Id="WixUI_Advanced" />

    <Property Id="MyURL"><![CDATA[https://github.com/OfficeDev/microsoft-teams-tunnelrelay/blob/master/README.md]]></Property>
    <InstallExecuteSequence>
      <!-- Launch webpage during install, but not upgrade -->
      <Custom Action="SetOpenURL" After="InstallFinalize">NOT Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="OpenURL" After="SetOpenURL">NOT Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Product>

  <!--Directory Declarations-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="TunnelRelay" />
      </Directory>
    </Directory>
  </Fragment>

  <!--File declaration-->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <Component Id="TunnelRelayUI" Guid="4ECA0543-FA69-4317-ADCC-5E9BE7AB54C5">
        <File Id="TunnelRelayUIExe" Source="$(var.TunnelRelay.TargetPath)" DiskId="1" KeyPath="yes">
          <Shortcut
            Id="TunnelRelayUIExeShortcut"
            Name="Tunnel Relay"
            Description="Tunnel Relay"
            Directory="DesktopFolder"
            Advertise="yes"
            WorkingDirectory="APPLICATIONFOLDER">
            <Icon Id="TunnelRelayIcon.exe" SourceFile="$(var.TunnelRelay.TargetPath)" />
          </Shortcut>
        </File>
        <File Id="TunnelRelayUIExeConfig" Source="$(var.TunnelRelay.TargetDir)\$(var.TunnelRelay.TargetName).exe.config" DiskId="1" />
        <File Id="TunnelRelayUIPdb" Source="$(var.TunnelRelay.TargetDir)\$(var.TunnelRelay.TargetName).pdb" DiskId="1" />
        <File Id="TunnelRelayUIXml" Source="$(var.TunnelRelay.TargetDir)\$(var.TunnelRelay.TargetName).xml" DiskId="1" />

      </Component>
      <Component Id="TunnelRelayCore" Guid="1B0D63B9-F963-4853-A6A6-3C4BAA2EDC71">
        <File Id="TunnelRelayCoreDll" Source="$(var.TunnelRelay.Core.TargetPath)" DiskId="1" />
        <File Id="TunnelRelayCorePdb" Source="$(var.TunnelRelay.Core.TargetDir)\$(var.TunnelRelay.Core.TargetName).pdb" DiskId="1" />
        <File Id="TunnelRelayCoreXml" Source="$(var.TunnelRelay.Core.TargetDir)\$(var.TunnelRelay.Core.TargetName).xml" DiskId="1" />
        <File Id="TunnelRelayConfig" Source="$(var.TunnelRelay.TargetDir)\appSettings.Json.default" Name="appSettings.Json" DiskId="1">
          <Permission ChangePermission="yes" GenericAll="yes" User="Everyone" TakeOwnership="yes" Write="yes" WriteAttributes="yes" WriteExtendedAttributes="yes" />
        </File>
      </Component>
      <Component Id="TunnelRelayPlugin" Guid="2D4C603E-EA3B-4A6B-8DC8-5075FC9FD7EC">
        <File Id="TunnelRelayPluginDll" Source="$(var.TunnelRelay.Plugins.TargetPath)" DiskId="1" />
        <File Id="TunnelRelayPluginPdb" Source="$(var.TunnelRelay.Plugins.TargetDir)\$(var.TunnelRelay.Plugins.TargetName).pdb" DiskId="1" />
        <File Id="TunnelRelayPluginXml" Source="$(var.TunnelRelay.Plugins.TargetDir)\$(var.TunnelRelay.Plugins.TargetName).xml" DiskId="1" />
      </Component>
      <Component Id="NewtonsoftJson" Guid="19B7E2F8-9E4C-40D1-A6A1-499F2576887C">
        <File Id="NewtonsoftJsonDll" Source="$(var.TunnelRelay.TargetDir)\Newtonsoft.Json.dll" DiskId="1" />
      </Component>
      <Component Id="ServiceBus" Guid="8E112B1B-F187-4495-8F69-BB8B78E1C73E">
        <File Id="ServiceBusDll" Source="$(var.TunnelRelay.TargetDir)\Microsoft.ServiceBus.dll" DiskId="1" />
      </Component>
      <Component Id="RestClientRuntime" Guid="28B803DF-DFE3-4DC7-B0B3-007A4A05207D">
        <File Id="RestClientRuntimeDll" Source="$(var.TunnelRelay.TargetDir)\Microsoft.Rest.ClientRuntime.dll" DiskId="1" />
      </Component>
      <Component Id="RestClientRuntimeAzure" Guid="720E64F0-3677-4FDA-9700-0AEBE6CBBD0F">
        <File Id="RestClientRuntimeAzureDll" Source="$(var.TunnelRelay.TargetDir)\Microsoft.Rest.ClientRuntime.Azure.dll" DiskId="1" />
      </Component>
      <Component Id="RestClientRuntimeAzureAuth" Guid="B2C9400F-EB89-4368-A600-F84C3D88C3AB">
        <File Id="RestClientRuntimeAzureAuthDll" Source="$(var.TunnelRelay.TargetDir)\Microsoft.Rest.ClientRuntime.Azure.Authentication.dll" DiskId="1" />
      </Component>
      <Component Id="Adal" Guid="CD88DA03-66BC-4B91-9358-B1BA19A0595D">
        <File Id="AdalDll" Source="$(var.TunnelRelay.TargetDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" DiskId="1" />
        <File Id="AdalDesktopDll" Source="$(var.TunnelRelay.TargetDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll" DiskId="1" />
      </Component>
      <Component Id="ServiceBusManagement" Guid="C27DBB35-3EC3-4F31-B386-EE7279B98AEA">
        <File Id="ServiceBusManagementDll" Source="$(var.TunnelRelay.TargetDir)\Microsoft.Azure.Management.ServiceBus.Fluent.dll" DiskId="1" />
      </Component>
      <Component Id="ResourceManagerManagement" Guid="3EA25677-E0C9-4B21-B684-204CA4992F9F">
        <File Id="ResourceManagerManagementDll" Source="$(var.TunnelRelay.TargetDir)\Microsoft.Azure.Management.ResourceManager.Fluent.dll" DiskId="1" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <CustomAction Id="SetOpenURL" Property="WixShellExecTarget" Value="[MyURL]" />
    <CustomAction Id="OpenURL" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />
  </Fragment>
</Wix>
